*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'Roboto', 'PingFang TC',
    sans-serif;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

.font-roboto {
  font-family: 'Roboto',sans-serif;
}
