<section class="d-flex justify-content-center">
  <ul class="pagination-list d-flex">
    <li class="prev">
      <a href="#" class="text-gray-400 p-3">上一頁</a>
    </li>
    <li class="page">
      <a href="#" class="text-gray-400 fs-sm-2 py-3 px-4">1</a>
    </li>
    <li class="page">
      <a href="#" class="text-gray-400 fs-sm-2 py-3 px-4 active">2</a>
    </li>
    <li class="page">
      <a href="#" class="text-gray-400 fs-sm-2 py-3 px-4">3</a>
    </li>
    <li class="page">
      <a href="#" class="text-gray-400 fs-sm-2 py-3 px-4">4</a>
    </li>
    <li class="page">
      <a href="#" class="text-gray-400 fs-sm-2 py-3 px-4">5</a>
    </li>
    <li class="next">
      <a href="#" class="text-gray-400 bg-gray-100 p-3">下一頁</a>
    </li>
  </ul>
</section>
