<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>六角眼鏡</title>
    <%- include('./layout/favicon'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <header class="nav-special bg-secondary d-sm-none">
      <div class="container d-flex justify-content-between align-items-center">
        <ul class="d-flex">
          <li>
            <a href="#" class="text-white fw-bold fs-3 px-3 py-3 mr-6 mr-md-3"
              >最新消息</a
            >
          </li>
          <li>
            <a href="#" class="text-white fw-bold fs-3 px-3 py-3 mr-6 mr-md-3"
              >特別企劃</a
            >
          </li>
          <li>
            <a href="#" class="text-white fw-bold fs-3 px-3 py-3 mr-6 mr-md-3"
              >新品上市</a
            >
          </li>
          <li>
            <a href="#" class="text-white fw-bold fs-3 px-3 py-3">鏡框小知識</a>
          </li>
        </ul>
        <div class="search d-flex">
          <span class="material-symbols-outlined text-white"> search </span>
        </div>
      </div>
    </header>

    <main class="blog pt-24 pb-20 pt-lg-20 pt-sm-10 pb-sm-16">
      <div class="container">
        <h2 class="blog-title fs-7 fs-sm-4 fw-bold mb-8 mb-sm-6 pl-4">
          部落格
        </h2>
        <div class="row">
          <div class="col-12 mb-15 mb-lg-6">
            <div class="card">
              <div class="row">
                <div class="col-6 col-sm-12">
                  <img
                    src="../assets/images/blog-1.png"
                    class="object-cover mb-sm-2"
                    alt="情人特別企劃"
                  />
                </div>
                <div class="col-6 col-sm-12">
                  <div class="card-info d-flex flex-column h-100">
                    <div class="card-maintitle">
                      <h3 class="fs-5 fs-lg-4 text-secondary d-sm-none">
                        情人特別企劃
                      </h3>
                      <h3 class="d-none d-sm-block">
                        <a
                          href="special-project.html"
                          class="fs-lg-4 text-secondary"
                          >情人特別企劃</a
                        >
                      </h3>
                    </div>
                    <div
                      class="card-title d-flex justify-content-between mb-4 mb-lg-1"
                    >
                      <h4 class="fs-3 fs-lg-2 font-roboto">
                        2020 Valentine’s Special
                      </h4>
                      <time>2020/02/14</time>
                    </div>
                    <div class="card-text">
                      <p class="fs-3 d-lg-none">
                        一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                        即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻，只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠⋯⋯
                      </p>
                      <p class="d-none d-lg-block d-sm-none">
                        一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻⋯⋯<a href="special-project.html" class="text-gray-400">more</a>
                      </p>
                    </div>
                    <div class="mt-auto ml-auto d-lg-none">
                      <a
                        href="special-project.html"
                        class="fs-6 text-secondary fw-bold font-roboto"
                        >MORE</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mb-15 mb-lg-6">
            <div class="card">
              <div class="row">
                <div class="col-6 col-sm-12">
                  <img
                    src="../assets/images/blog-2.png"
                    class="object-cover mb-sm-2"
                    alt="街頭潮人訪問"
                  />
                </div>
                <div class="col-6 col-sm-12">
                  <div class="card-info d-flex flex-column h-100">
                    <div class="card-maintitle">
                      <h3 class="fs-5 fs-lg-4 text-secondary d-sm-none">
                        街頭潮人訪問
                      </h3>
                      <h3 class="d-none d-sm-block">
                        <a href="#" class="fs-lg-4 text-secondary"
                          >街頭潮人訪問</a
                        >
                      </h3>
                    </div>
                    <div
                      class="card-title d-flex justify-content-between mb-4 mb-lg-1"
                    >
                      <h4 class="fs-3 fs-lg-2 font-roboto">Street Interview</h4>
                      <time>2020/02/02</time>
                    </div>
                    <div class="card-text">
                      <p class="fs-3 d-lg-none">
                        炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭
                        T
                        恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的
                        3 款單品，讓你瞬間帥氣⋯⋯more
                      </p>
                      <p class="d-none d-lg-block d-sm-none">
                        一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻⋯⋯<a href="special-project.html" class="text-gray-400">more</a>
                      </p>
                    </div>
                    <div class="mt-auto ml-auto d-lg-none">
                      <a
                        href="#"
                        class="fs-6 text-secondary fw-bold font-roboto"
                        >MORE</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mb-15 mb-lg-6">
            <div class="card">
              <div class="row">
                <div class="col-6 col-sm-12">
                  <img
                    src="../assets/images/blog-3.png"
                    class="object-cover mb-sm-2"
                    alt="春季新品上市"
                  />
                </div>
                <div class="col-6 col-sm-12">
                  <div class="card-info d-flex flex-column h-100">
                    <div class="card-maintitle">
                      <h3 class="fs-5 fs-lg-4 text-secondary d-sm-none">
                        春季新品上市
                      </h3>
                      <h3 class="d-none d-sm-block">
                        <a href="#" class="fs-lg-4 text-secondary"
                          >春季新品上市</a
                        >
                      </h3>
                    </div>
                    <div
                      class="card-title d-flex justify-content-between mb-4 mb-lg-1"
                    >
                      <h4 class="fs-3 fs-lg-2 font-roboto">
                        Sales for Designer
                      </h4>
                      <time>2020/01/18</time>
                    </div>
                    <div class="card-text">
                      <p class="fs-3 d-lg-none">
                        2020
                        年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
                      </p>
                      <p class="d-none d-lg-block d-sm-none">
                        一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻⋯⋯<a href="special-project.html" class="text-gray-400">more</a>
                      </p>
                    </div>
                    <div class="mt-auto ml-auto d-lg-none">
                      <a
                        href="#"
                        class="fs-6 text-secondary fw-bold font-roboto"
                        >MORE</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mb-15 mb-lg-6">
            <div class="card">
              <div class="row">
                <div class="col-6 col-sm-12">
                  <img
                    src="../assets/images/blog-4.png"
                    class="object-cover mb-sm-2"
                    alt="設計師獨享鏡框優惠"
                  />
                </div>
                <div class="col-6 col-sm-12">
                  <div class="card-info d-flex flex-column h-100">
                    <div class="card-maintitle">
                      <h3 class="fs-5 fs-lg-4 text-secondary d-sm-none">
                        設計師獨享鏡框優惠
                      </h3>
                      <h3 class="d-none d-sm-block">
                        <a href="#" class="fs-lg-4 text-secondary"
                          >設計師獨享鏡框優惠</a
                        >
                      </h3>
                    </div>
                    <div
                      class="card-title d-flex justify-content-between mb-4 mb-lg-1"
                    >
                      <h4 class="fs-3 fs-lg-2 font-roboto">
                        Sales for Designer
                      </h4>
                      <time>2020/01/18</time>
                    </div>
                    <div class="card-text">
                      <p class="fs-3 d-lg-none">
                        2020
                        年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
                      </p>
                      <p class="d-none d-lg-block d-sm-none">
                        2020
                        年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，⋯⋯<a href="special-project.html" class="text-gray-400">more</a>
                      </p>
                    </div>
                    <div class="mt-auto ml-auto d-lg-none">
                      <a
                        href="#"
                        class="fs-6 text-secondary fw-bold font-roboto"
                        >MORE</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mb-31 mb-lg-20 mb-sm-16">
            <div class="card">
              <div class="row">
                <div class="col-6 col-sm-12">
                  <img
                    src="../assets/images/blog-5.png"
                    class="object-cover mb-sm-2"
                    alt="抵抗夏日大作戰"
                  />
                </div>
                <div class="col-6 col-sm-12">
                  <div class="card-info d-flex flex-column h-100">
                    <div class="card-maintitle">
                      <h3 class="fs-5 fs-lg-4 text-secondary d-sm-none">
                        抵抗夏日大作戰
                      </h3>
                      <h3 class="d-none d-sm-block">
                        <a href="#" class="fs-lg-4 text-secondary"
                          >抵抗夏日大作戰</a
                        >
                      </h3>
                    </div>
                    <div
                      class="card-title d-flex justify-content-between mb-4 mb-lg-1"
                    >
                      <h4 class="fs-3 fs-lg-2 font-roboto">Summer Special</h4>
                      <time>2019/08/07</time>
                    </div>
                    <div class="card-text">
                      <p class="fs-3 d-lg-none">
                        2020
                        年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式⋯⋯
                      </p>
                      <p class="d-none d-lg-block d-sm-none">
                        2020
                        年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感，⋯⋯<a href="special-project.html" class="text-gray-400">more</a>
                      </p>
                    </div>
                    <div class="mt-auto ml-auto d-lg-none">
                      <a
                        href="#"
                        class="fs-6 text-secondary fw-bold font-roboto"
                        >MORE</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('./layout/pagination'); -%>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
