<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>六角眼鏡</title>
    <%- include('./layout/favicon'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="product-category">
      <div class="container d-flex justify-content-center container-lg-fluid">
        <ul class="d-flex align-items-center w-100">
          <li class="category text-center">
            <button
              type="button"
              class="btn-category fs-5 fs-lg-4 fs-sm-2 font-roboto w-100 bg-white py-6 py-lg-4"
              data-product="OPTICAL"
            >
              OPTICAL
            </button>
          </li>
          <li class="category text-center">
            <button
              type="button"
              class="btn-category fs-5 fs-lg-4 fs-sm-2 font-roboto w-100 bg-white py-6 py-lg-4"
              data-product="SUNGLASSES"
            >
              SUNGLASSES
            </button>
          </li>
          <li class="category text-center">
            <button
              type="button"
              class="btn-category fs-5 fs-lg-4 fs-sm-2 font-roboto w-100 bg-white py-6 py-lg-4"
            >
              FUNCTIONAL
            </button>
          </li>
        </ul>
      </div>
    </section>

    <!-- OPTICAL -->
    <section class="header-banner OPTICAL">
      <ul class="d-flex">
        <li class="w-50">
          <picture>
            <source
              srcset="../assets/images/product-header-sm-1.png"
              media="(max-width: 992px)"
            />
            <img
              src="../assets/images/product-header-1.png"
              alt="OPTICAL banner 圖1"
              class="w-lg-100 object-cover"
            />
          </picture>
        </li>
        <li class="w-50">
          <picture>
            <source
              srcset="../assets/images/product-header-sm-2.png"
              media="(max-width: 992px)"
            />
            <img
              src="../assets/images/product-header-2.png"
              alt="OPTICAL banner 圖2"
              class="w-lg-100 object-cover"
            />
          </picture>
        </li>
      </ul>
    </section>

    <!-- SUNGLASSES -->
    <section class="header-banner SUNGLASSES hide">
      <ul class="d-flex">
        <li class="w-50">
          <picture>
            <source
              srcset="../assets/images/product-header-sm-3.png"
              media="(max-width: 992px)"
            />
            <img
              src="../assets/images/product-header-3.png"
              alt="SUNGLASSES banner 圖1"
              class="w-lg-100 object-cover"
            />
          </picture>
        </li>
        <li class="w-50">
          <picture>
            <source
              srcset="../assets/images/product-header-sm-4.png"
              media="(max-width: 992px)"
            />
            <img
              src="../assets/images/product-header-4.png"
              alt="SUNGLASSES banner 圖2"
              class="w-lg-100 object-cover"
            />
          </picture>
        </li>
      </ul>
    </section>

    <main class="products pt-20 pb-20 OPTICAL">
      <div class="container">
        <h2 class="text-center font-roboto fs-sm-4">Celluloid Combi</h2>
        <h3 class="text-center fs-5 mb-8 fs-sm-4 mb-sm-6">
          賽璐珞鈦金屬混合鏡框
        </h3>
        <ul class="row">
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-1.png"
                alt="Celluloid Combi 產品1"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-2.png"
                alt="Celluloid Combi 產品2"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-3.png"
                alt="Celluloid Combi 產品3"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-4.png"
                alt="Celluloid Combi 產品4"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-5.png"
                alt="Celluloid Combi 產品5"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-6.png"
                alt="Celluloid Combi 產品6"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-1.png"
                alt="Celluloid Combi 產品7"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-2.png"
                alt="Celluloid Combi 產品8"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-3.png"
                alt="Celluloid Combi 產品9"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-4.png"
                alt="Celluloid Combi 產品10"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-5.png"
                alt="Celluloid Combi 產品11"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-3 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-6.png"
                alt="Celluloid Combi 產品12"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
        </ul>
        <%- include('./layout/pagination'); -%>
      </div>
    </main>

    <!-- SUNGLASSES -->
    <main class="products pt-20 pb-20 SUNGLASSES hide">
      <div class="container">
        <h2 class="text-center font-roboto fs-sm-4">2020 NEW COLLECTION</h2>
        <h3 class="text-center fs-5 mb-8 fs-sm-4 mb-sm-6">
          賽璐珞鈦金屬混合鏡框
        </h3>
        <ul class="row">
          <li class="col-4 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-7.png"
                alt="NEW COLLECTION 產品1"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-4 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-8.png"
                alt="NEW COLLECTION 產品2"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-4 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-9.png"
                alt="NEW COLLECTION 產品3"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-4 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-10.png"
                alt="NEW COLLECTION 產品4"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-4 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-11.png"
                alt="NEW COLLECTION 產品5"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
          <li class="col-4 col-lg-6 col-sm-12">
            <div class="card mb-20">
              <img
                src="../assets/images/product-12.png"
                alt="NEW COLLECTION 產品6"
              />
              <div class="card-info d-flex justify-content-between">
                <p class="product-id fs-4 font-roboto">BJ41600S</p>
                <p class="product-price fs-4 font-roboto text-primary">
                  NTD<strong>3,490</strong>
                </p>
              </div>
              <div class="card-info d-flex">
                <div class="color bg-info mr-2"></div>
                <div class="color bg-warning"></div>
              </div>
            </div>
          </li>
        </ul>

        <%- include('./layout/pagination'); -%>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
